<div class="dashboard-container">
    <div class="dashboard-inner">
    {{#each skills}}
        <div class="dashboard-section dashboard-section-cards">
            <div class="dashboard-section-header">
                    <span class="dashboard-section-header--title">
                        {{@key}}
                    </span>
            </div>
            {{#each this}}
            <div class="dashboard-subsection dashboard-section-cards">
                <div class="dashboard-subsection-header">
                    <span class="dashboard-subsection-header--title">
                        {{@key}}
                    </span>
                </div>
                {{#each this}}
                <div class="dashboard-cardSet">
                    {{#each this}}
                        <div class="dashboard-card card element-card intent-card" data-id="{{this.identifier}}">
                            <div class="card-header">{{this.identifier}}</div>
                            <div class="card-body">
                                <div class="card-property-container">
                                    {{this.description}}
                                </div>
<!--                                <div class="card-property-container">-->
<!--                                    {{#each this._variables}}-->
<!--                                        <div class="card-property">-->
<!--                                            <span class="card-property--label">{{@key}}</span>-->
<!--                                            <span class="card-property--value">{{this}}</span>-->
<!--                                        </div>-->
<!--                                    {{/each}}-->
<!--                                </div>-->
                            </div>
                        </div>
                    {{/each}}
                </div>
                {{/each}}
            </div>
            {{/each}}
        </div>
    {{/each}}
    </div>
</div>