{{#each skills}}
    <h1>{{@key}}</h1>
    {{#each this}}
        <h2>{{@key}}</h2>
        {{#each this}}
            <h3>{{@key}}</h3>
            {{#each this}}
                <div class="card-container">
                    <div class="mdc-card element-card">
                        <div class="mdc-card__primary-action ">
                            <div class=" element-card--primary mdc-card__title element-card--title">{{this.identifier}}</div>
                            <div class="element-card--secondary">
                                <div class="element-card--secondary">{{this.description}}</div>
                                <!-- ... additional primary action content ... -->
                                <div class="mdc-card__ripple"></div>
                            </div>
                            <!-- ... additional primary action content ... -->
                            <div class="mdc-card__ripple"></div>
                        </div>

                    </div>
                </div>
            {{/each}}
        {{/each}}
    {{/each}}
{{/each}}