<div id="{{id}}" class="interactiveList-interaction interaction--input" data-identifier="{{identifier}}" data-interactiontype="{{type}}">
    <input id="{{id}}__input" class="common-input" name="{{identifier}}__input" type="number" {{#if params.step}}step="{{params.step}}"{{/if}} {{#if params.disabled}}disabled{{/if}} {{#if params.readonly}}readonly{{/if}} value="{{value}}"/>
</div>
