<div class="skillSelect component-container {{componentName}}-component-container">
   <div class="skillSelect-stages-container">
       <div id="stage1" class="skillSelect-stage skillSelect-stage-active skillSelect-stage-initial">
           <div id="stage1--heading" class="skillSelect-stage-heading">
               <span>What do you want to do?</span>
           </div>
           <div id="stage1--content" class="skillSelect-stage-content">
<!--               {{#each data.stages.stage1.items}}-->
<!--                   <div id="{{this.domId}}" class="skillSelect-stage-item">-->
<!--                       <div class="disabled-overlay"></div>-->
<!--                       <div class="stage-item--icon">-->
<!--                           <image src="{{this.icon}}"></image>-->
<!--                       </div>-->
<!--                       <div class="stage-item--title">-->
<!--                           {{this.title}}-->
<!--                       </div>-->
<!--                       <div class="stage-item--content">-->
<!--                           {{this.text}}-->
<!--                       </div>-->
<!--                   </div>-->
<!--               {{/each}}-->
           </div>
       </div>
       <div id="stage2" class="skillSelect-stage">
           <div id="stage2--heading" class="skillSelect-stage-heading">
               Select your case
           </div>
           <div id="stage2--content" class="skillSelect-stage-content"></div>

       </div>
       <div id="stage3" class="skillSelect-stage">
           <div id="stage3--heading" class="skillSelect-stage-heading">
               Select your case
           </div>
           <div id="stage3--content" class="skillSelect-stage-content"></div>
       </div>
       <div id="stage4" class="skillSelect-stage">
           <div id="stage4--heading" class="skillSelect-stage-heading">
               Choose skill
           </div>
           <div id="stage4--content" class="skillSelect-stage-content"></div>
       </div>
   </div>
</div>