<div class="dashboard-container">
    <div class="dashboard-inner">
        <div class="dashboard-section dashboard-section-cards">
            <div class="dashboard-section-header">
                <span class="dashboard-section-header--title">
                    Connected
                </span>
            </div>
            <div class="dashboard-cardSet">
                {{#each clients.connected}}
                    <div class="dashboard-card card element-card client-card client-card--reduced" data-id="{{this.clientId}}">
                        <div class="card-header">{{this.identifier}}</div>
                        <div class="card-body">
                            <div class="card-property-container">
                                <div class="card-property">
                                    <span class="card-property--label">dbId</span>
                                    <span class="card-property--value">{{this.clientId}}</span>
                                </div>
                                <div class="card-property">
                                    <span class="card-property--label">versionData</span>
                                    <span class="card-property--value">{{this.versionData}}</span>
                                </div>
                                <div class="card-property">
                                    <span class="card-property--label">lastConnection</span>
                                    <span class="card-property--value">{{transformDateTimeString this.lastConnection}}</span>
                                </div>
                                <div class="card-property">
                                    <span class="card-property--label">state</span>
                                    <span class="card-property--value">{{#if this.connection.connected}}connected{{else}}disconnected{{/if}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
        <div class="dashboard-section dashboard-section-cards">
            <div class="dashboard-section-header">
                <span class="dashboard-section-header--title">
                    Disconnected
                </span>
            </div>
            <div class="dashboard-cardSet">
                {{#each clients.disconnected}}
                    <div class="dashboard-card card element-card client-card client-card--reduced" data-id="{{this.clientId}}">
                        <div class="card-header">{{this.identifier}}</div>
                        <div class="card-body">
                            <div class="card-property-container">
                                <div class="card-property">
                                    <span class="card-property--label">dbId</span>
                                    <span class="card-property--value">{{this.clientId}}</span>
                                </div>
                                <div class="card-property">
                                    <span class="card-property--label">versionData</span>
                                    <span class="card-property--value">{{this.versionData}}</span>
                                </div>
                                <div class="card-property">
                                    <span class="card-property--label">lastConnection</span>
                                    <span class="card-property--value">{{transformDateTimeString this.lastConnection}}</span>
                                </div>
                                <div class="card-property">
                                    <span class="card-property--label">state</span>
                                    <span class="card-property--value">{{#if this.connection.connected}}connected{{else}}disconnected{{/if}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
        <div class="dashboard-section dashboard-section-cards">
            <div class="dashboard-section-header">
                <span class="dashboard-section-header--title">

                </span>
            </div>
            <div class="page-section">
                <div class="button-container">
                    <a class="button" href="/clients/add">
                        <button class="mdc-button mdc-button--outlined mdc-button--icon-leading">
                            <span class="mdc-button__ripple"></span>
                            <i class="material-icons mdc-button__icon" aria-hidden="true">add</i>
                            <span class="mdc-button__label">add Client</span>
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>