<div class="dashboard-container">
    <div class="dashboard-inner">
        <div class="dashboard-header">
            <div class="dashboard-header-inner">
                <span>{{integration.readableName}}</span>
            </div>
        </div>
        <div class="dashboard-menu">
            <div id="dashboard-titleEdit-button" class="dashboard-menu-button dashboard-titleEdit-button">
                <button class="mdc-fab" aria-label="Edit">
                    <div class="mdc-fab__ripple"></div>
                    <span class="mdc-fab__icon material-icons">radio_button_checked</span>
                </button>
            </div>
            <div id="dashboard-delete-button" class="dashboard-menu-button dashboard-refresh-button" data-id="{{integration.uniqueName}}">
                <button class="mdc-fab" aria-label="Delete">
                    <div class="mdc-fab__ripple"></div>
                    <span class="mdc-fab__icon material-icons">refresh</span>
                </button>
            </div>
        </div>

        <div class="dashboard-section dashboard-section-cards">
            <div class="dashboard-section-header">
                <span class="dashboard-section-header--title">
                    Lights
                </span>
            </div>
            <div class="dashboard-cardSet">
                {{#each integration.lightObjects}}
                    <div class="dashboard-card card element-card entity-card light-card" data-id="{{this.id}}">
                        <div class="card-header">{{this.identifier}}</div>
                        <div class="card-body">
                            <div class="card-property-container">
                                {{#each this.state}}
                                    <div class="card-property">
                                        <span class="card-property--label">{{@key}}</span>
                                        <span class="card-property--value">{{this}}</span>
                                    </div>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
        <div class="dashboard-section dashboard-section-cards">
            <div class="dashboard-section-header">
                <span class="dashboard-section-header--title">
                    LightGroups
                </span>
            </div>
            <div class="dashboard-cardSet">
                {{#each integration.groupObjects}}
                    <div class="dashboard-card card element-card entity-card group-card" data-id="{{this.id}}">
                        <div class="card-header">{{this.identifier}}</div>
                        <div class="card-body">
                            <div class="card-property-container">
                                {{#each this.state}}
                                    <div class="card-property">
                                        <span class="card-property--label">{{@key}}</span>
                                        <span class="card-property--value">{{this}}</span>
                                    </div>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
        <div class="dashboard-section dashboard-section-cards">
            <div class="dashboard-section-header">
                <span class="dashboard-section-header--title">
                    Scenes
                </span>
            </div>
            <div class="dashboard-cardSet">
                {{#each integration.sceneObjects}}
                    <div class="dashboard-card card element-card entity-card scene-card" data-id="{{this.id}}">
                        <div class="card-header">{{this.identifier}}</div>
                        <div class="card-body">
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>