<div class="dashboard-container">
    <div class="dashboard-inner">
        <div class="dashboard-header">
            <div class="dashboard-header-inner">
                <span>{{entity.identifier}}</span>
            </div>
        </div>
        <div class="dashboard-menu">
            <div id="dashboard-titleEdit-button" class="dashboard-menu-button dashboard-titleEdit-button">
                <button class="mdc-fab" aria-label="Edit">
                    <div class="mdc-fab__ripple"></div>
                    <span class="mdc-fab__icon material-icons">edit_note</span>
                </button>
            </div>
        </div>
        <div class="dashboard-section dashboard-section-list">
            <div class="dashboard-section-header">
            <span class="dashboard-section-header--title">
                information
            </span>
            </div>
            <div class="dashboard-list-container">
                <ul class="dashboard-list">
                    <li class="dashboard-list-item dashboard-list-item--identifier">
                        <span class="dashboard-list-item-entry dashboard-list-item-label">identifier</span>
                        <span class="dashboard-list-item-entry dashboard-list-item-value">{{entity.identifier}}</span>
                    </li>
                    <li class="dashboard-list-item dashboard-list-item--identifier">
                        <span class="dashboard-list-item-entry dashboard-list-item-label">id</span>
                        <span class="dashboard-list-item-entry dashboard-list-item-value">{{entity.id}}</span>
                    </li>
                    <li class="dashboard-list-item dashboard-list-item--identifier">
                        <span class="dashboard-list-item-entry dashboard-list-item-label">unique id</span>
                        <span class="dashboard-list-item-entry dashboard-list-item-value">{{entity.uniqueId}}</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="dashboard-section dashboard-section-list">
            <div class="dashboard-section-header">
            <span class="dashboard-section-header--title">
                state
            </span>
            </div>
            <div class="dashboard-list-container">
                <ul class="dashboard-list">
                    {{#each entity.state}}
                        <li class="dashboard-list-item dashboard-list-item--{{this}}">
                            <span class="dashboard-list-item-entry dashboard-list-item-label">{{@key}}</span>
                            <span class="dashboard-list-item-entry dashboard-list-item-value">{{this}}</span>
                        </li>
                    {{/each}}
                </ul>
            </div>
        </div>
        <div class="dashboard-section dashboard-section-list">
            <div class="dashboard-section-header">
            <span class="dashboard-section-header--title">
                properties
            </span>
            </div>
            <div class="dashboard-list-container">
                <ul class="dashboard-list">
                    {{#each entity.properties}}
                        <li class="dashboard-list-item dashboard-list-item--{{this}}">
                            <span class="dashboard-list-item-entry dashboard-list-item-label">{{@key}}</span>
                            <span class="dashboard-list-item-entry dashboard-list-item-value">{{this}}</span>
                        </li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
</div>

<div id="dialog-save" class="mdc-dialog">
    <div class="mdc-dialog__container">
        <div class="mdc-dialog__surface"
             role="alertdialog"
             aria-modal="true"
             aria-labelledby="my-dialog-title"
             aria-describedby="my-dialog-content">
            <h2 class="mdc-dialog__title" id="my-dialog-title">
                Edit identifier
            </h2>
            <div class="mdc-dialog__content" id="my-dialog-content">
                <label class="mdc-text-field mdc-text-field--filled">
                    <span class="mdc-text-field__ripple"></span>
                    <span class="mdc-floating-label" id="dialog-save-label">Identifier</span>
                    <input id="dialog-save-input" class="mdc-text-field__input" type="text" aria-labelledby="dialog-save-label" value="{{intentHandler.identifier}}">
                    <span class="mdc-line-ripple"></span>
                </label>
            </div>
            <div class="mdc-dialog__actions">
                <button type="button" class="mdc-button mdc-dialog__button button--shy" data-mdc-dialog-action="cancel">
                    <div class="mdc-button__ripple"></div>
                    <span class="mdc-button__label">Cancel</span>
                </button>
                <button type="button" class="mdc-button mdc-dialog__button button--primary" data-mdc-dialog-action="save" data-mdc-dialog-button-default>
                    <div class="mdc-button__ripple"></div>
                    <span class="mdc-button__label">Save</span>
                </button>
            </div>
        </div>
    </div>
    <div class="mdc-dialog__scrim"></div>
</div>